# Discord Bot
DISCORD_TOKEN=YOUR_BOT_TOKEN
DISCORD_CLIENT_ID=YOUR_BOT_CLIENT_ID
DISCORD_GUILD_ID=YOUR_TEST_SERVER_ID

# SellAuth
SELLAUTH_API_KEY=YOUR_SELLAUTH_API_KEY
SELLAUTH_SHOP_ID=YOUR_SHOP_ID

# Database
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/lionlicense

# API
API_PORT=3000
